  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Online BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/books">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <app-search></app-search>
            </ul>
            
            
            <form class="d-flex navbar-nav">
                <app-cart-status></app-cart-status>
                <a class="nav-link" aria-current="page" href="#">Logout</a>
                <a class="nav-link" aria-current="page" href="#">Login</a>
            </form>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand" href="#">Online BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#">About Us</a>
                <a class="nav-link" aria-current="page" href="#">Contact Us</a>
            </div>

            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" aria-current="page" href="#">Services</a>
            </div>
        </div>
    </div>
  </nav> -->



<br>
<!-- Section-->
<div class="container mb-5">
    
    <router-outlet></router-outlet>
    
</div>
<!-- Footer-->
<footer class="py-2 bg-dark page-footer fixed-bottom">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>