<div class="row">
    <div class="col-lg-3 mb-1">

        <app-book-category></app-book-category>

    </div>
    <div class="col-lg-9">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
            <div *ngFor="let book of books" class="col-lg-4 col-md-6 mb-4 px-3">
                <div class="card h-100">
                    <a routerLink="/books/{{book.id}}">
                        <img class="card-img-top img-responsive" [src]="book.imageUrl" alt="..." />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <h4 class="card-title">
                            <a routerLink="/books/{{book.id}}" class="fw-bolder">{{book.name}}</a>
                        </h4>
                        <h5>{{book.unitPrice | currency:"Rs"}}</h5>
                        <p class="card-text text-truncate">{{book.description}}</p>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer">
                        <button class="btn btn-primary w-100">Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="books?.length == 0" class="col-md-12 alert alert-warning mt-3">
            No Books Found
        </div>


        <div class="row">
            <!-- handle page size -->
            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-4">
                        <span class="mr-2">Page Size:</span>
                    </div>

                    <div class="col-md-8">

                        <select (change)="updatePageSize($any($event.target).value)" class="form-control-sm"
                            style="width: 20%;">

                            <option selected>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>

                        </select>

                    </div>

                </div>

            </div>

            <!-- handle pagination -->
            <div class="col-md-6">
                <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="totalRecords"(pageChange)="listBooks()" class="d-flex justify-content-end">
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                    <ng-template ngbPaginationFirst>First</ng-template>
                    <ng-template ngbPaginationLast>Last</ng-template>
                </ngb-pagination>
            </div>
        </div>


    </div>
</div>